# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8

[*.{js,ts,html,jsx,tsx}]
indent_style = space
indent_size = 4

[*.{css,less,sass,vue,json}]
indent_style = space
indent_size = 2